*, html, body {
    -webkit-font-smoothing: antialiased;
}
#bgcanvasd,
#bgcanvasw,
#canvas {
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0
}
body {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
}
body {
    padding: 0;
    margin: 0;
    background-color: #000;
    font-family: 'Overpass' !important;
    color: #fff;
    font-weight: 400;
}
#bgcanvasd,
#bgcanvasw,
#canvas {
    top: 0;
    width: 100%;
    height: 100%
}
form {
    margin-bottom: 0
}
.btn-play > i, .btn-spectate > i {
    font-size: 24px;
    margin-top: 2px;
}
.btn-play {
    display: block;
    float: left;
    height: 40px;
    margin-top: 6px;
}
.btn-spectate {
    height: 40px;
    display: block;
    margin-bottom: 5px;
    margin-top: 6px;
}
.btn-spectate {
    display: block;
}
#nick {
    width: 65%;
    float: left
}
input,
select {
    border-radius: 0px;
    color: #999!important;
    background: #212121!important;
    border: none!important;
    box-shadow: none!important;
}
input:focus,
select:focus {
    border-radius: 0px;
    color: #999!important;
    background: #212121!important;
    border: none!important;
    box-shadow: none!important;
}
.form-control, #team_name {
    height: 40px;
    border-radius: 0px!important;
    color: #999!important;
    background: transparent!important;
    border: none!important;
    box-shadow: none!important;
}
.form-control:focus, #team_name:focus {
    height: 40px;
    border-radius: 0px!important;
    color: #999!important;
    background: transparent!important;
    border: none!important;
    box-shadow: none!important;
}
.form-control, #team_code {
    height: 40px;
    border-radius: 0px!important;
    color: #999!important;
    background: transparent!important;
    border: none!important;
    box-shadow: none!important;
}
.form-control:focus, #team_code:focus {
    height: 40px;
    border-radius: 0px!important;
    color: #999!important;
    background: transparent!important;
    border: none!important;
    box-shadow: none!important;
}
.btn {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 1px;
    border-radius: 0px;
    height: 50px;
    transition: linear 0.25s;
}
.btn:hover {
    height: 50px;
    transition: linear 0.25s;
}
.btn:focus {
    height: 50px;
    transition: linear 0.25s;
    background-color: transparent!important;
}
.btn:focus,
select:focus,
input:focus {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important
}
.btn-play {
    height: 50px;
    width: 80%;
    margin-bottom: 2px;
    line-height: 20px;
}
.btn-spectate {
    height: 50px;
    margin-bottom: 2px;
    line-height: 20px;
}
.btn-play {
    background-color: transparent!important;
    border: 2px solid #26547c!important;
}
.btn-play:hover {
    background-color: #26547c!important;
    border: 2px solid #26547c!important;
}
.btn-play:focus {
    background-color: transparent!important;
    border: 2px solid #26547c!important;
    transition: linear 0.5s;
}
.btn-spectate {
    width: 18%;
    float: left;
    margin-left: 5px;
    background: transparent!important;
    border: 2px solid #FF6F00!important;
}
.btn-spectate:hover {
    background-color: #FF6F00!important;
    border: 2px solid #FF6F00!important;
}
.btn-spectate:focus {
    background-color: transparent!important;
    border: 2px solid #FF6F00!important;
    transition: linear 0.5s;
}
.btn-red {
    color: #999 !important;
    background: transparent!important;
    border: none !important;
    float: none!important;
    width: 253px;
    border: 2px solid #3a3a3a!important;
}
.btn-red:hover {
    background: #3a3a3a!important;
}
.btn-blue {
    color: #999 !important;
    background: transparent!important;
    border: none !important;
    float: none!important;
    width: 253px;
    border: 2px solid #3a3a3a!important;
}
.btn-blue:hover {
    background: #3a3a3a!important
}
.btn-green {
    color: #999!important;
    background: transparent!important;
    border: none !important;
    width: 253px;
    border: 2px solid #3a3a3a!important;
}
.btn-green:hover {
    background: #3a3a3a!important
}
.UI-panel {
    display: inline-block;
    width: 450px;
    height: 530px;
    background-color: #212121;
    margin: 2px;
    border-radius: 2px;
    padding: 25px;
    vertical-align: top;
    color: #999;
}
#mainPanel {
    padding: 10px!important;
    margin-left: 5px;
    margin-right: 2px;
}
.UI-side-panel {
    display: block;
    width: 224px;
    padding: 15px;
    height: auto;
    color: #000;
    margin-bottom: 0px;
}
#helloContainer {
    position: absolute;
    top: 50%;
    left: 58%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.tooltip-inner {
    max-width: 300px
}
.pls-contentLeft,
.pls-contentWrap,
.pls-dropBL,
.pls-dropBottom,
.pls-dropRight,
.pls-dropTR .pls-dropBR,
.pls-tailleft,
.pls-vert,
.pls-vert img,
.side-container {
    vertical-align: top
}
.right-side {
    display: inline-block!important;
}
.side-container {
    display: block;
    width: 224px;
    height: 434px;
}
.cell-spinner {
    display: block;
    margin: 0
}
#options>label {
    display: block;
    width: 94px;
    float: left
}
.gc-bubbleDefault,
.gc-reset {
    background-color: transparent !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: left
}
.gc-bubbleDefault {
    table-layout: auto !important
}
.pls-topLeft,
.pls-vertShim {
    text-align: right
}
.pls-bubbleTop {
    border-bottom: 1px solid #ccc !important
}
.pls-contentLeft,
.pls-topTail,
.pls-vertShimLeft {
    background-image: url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/border_3.gif) !important
}
.pls-topTail {
    background-repeat: repeat-x !important;
    background-position: bottom !important
}
.pls-vertShim {
    background-color: #fff !important
}
.tbl-grey .pls-vertShim {
    background-color: #f5f5f5 !important
}
.pls-vertShimLeft {
    background-repeat: repeat-y !important;
    background-position: right !important;
    height: 4px
}
.pls-vertShimRight {
    height: 4px
}
.pls-confirm-container .pls-vertShim {
    background-color: #fff3c2 !important
}
.pls-contentWrap {
    background-color: #fff !important;
    position: relative !important
}
.pls-contentLeft {
    background-repeat: repeat-y;
    background-position: right
}
.pls-dropRight {
    background-image: url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleDropR_3.png) !important;
    background-repeat: repeat-y !important
}
.pls-dropBottom {
    background-image: url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleDropB_3.png) !important;
    background-repeat: repeat-x !important;
    width: 100%
}
.pls-topLeft,
.pls-topRight {
    vertical-align: bottom;
    background: inherit !important
}
.pls-topRight {
    text-align: left
}
.pls-bottomLeft {
    background: inherit !important;
    text-align: right
}
.pls-bottomRight {
    background: inherit !important;
    text-align: left;
    vertical-align: top
}
.pls-tailbottom,
.pls-tailleft,
.pls-tailright,
.pls-tailtop {
    display: none;
    position: relative
}
.pls-dropBL,
.pls-dropBR,
.pls-dropTR,
.pls-tailbottom,
.pls-tailleft,
.pls-tailright,
.pls-tailtop {
    background-image: url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleSprite_3.png) !important;
    background-repeat: no-repeat
}
.tbl-grey .pls-dropBL,
.tbl-grey .pls-dropBR,
.tbl-grey .pls-dropTR,
.tbl-grey .pls-tailbottom,
.tbl-grey .pls-tailleft,
.tbl-grey .pls-tailright,
.tbl-grey .pls-tailtop {
    background-image: url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleSprite-grey.png) !important
}
.pls-tailbottom {
    background-position: -23px 0
}
.pls-confirm-container .pls-tailbottom {
    background-position: -23px -10px
}
.pls-tailtop {
    background-position: -19px -20px;
    vertical-align: top
}
.pls-tailright {
    background-position: 0 0
}
.pls-tailleft {
    background-position: -10px 0
}
.gc-bubbleDefault td {
    line-height: 0;
    font-size: 0
}
.pls-tailbottom,
.pls-topLeft img,
.pls-topRight img {
    vertical-align: bottom
}
.bubbleDropTR,
.pls-bottomLeft,
.pls-bottomLeft img,
.pls-dropBottom img,
.pls-dropBottomL img,
.pls-dropBottomR img {
    vertical-align: top
}
.pls-dropTR {
    background-position: 0 -22px
}
.pls-dropBR {
    background-position: 0 -27px
}
.pls-dropBL {
    background-position: 0 -16px
}
.pls-spacerbottom,
.pls-spacerleft,
.pls-spacerright,
.pls-spacertop {
    position: static !important
}
.pls-spinner {
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0
}
.jq-toast-wrap,
.jq-toast-wrap * {
    margin: 0;
    padding: 0
}
.jq-toast-wrap {
    display: block;
    position: fixed;
    width: 250px;
    pointer-events: none !important;
    letter-spacing: normal
}
.jq-toast-wrap.bottom-left {
    bottom: 1px;
    left: 5px;
}
.jq-toast-wrap.bottom-right {
    bottom: 20px;
    right: 40px
}
.jq-toast-wrap.top-left {
    top: 5px;
    left: 5px;
}
.jq-toast-wrap.top-right {
    top: 20px;
    right: 40px
}
.jq-toast-single {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 5px;
    border-radius: 0px;
    font-size: 12px;
    font-family: Overpass,arial, sans-serif;
    line-height: 17px;
    position: relative;
    pointer-events: all !important;
    color: #fff;
    border-top: 2px solid #fff;
}
.ps-container.ps-in-scrolling,
.ps-container:hover.ps-in-scrolling {
    pointer-events: none
}
.jq-toast-single h2 {
    font-family: Overpass,arial, sans-serif;
    font-size: 14px;
    margin: 0 0 7px;
    background: 0 0;
    color: inherit;
    line-height: inherit;
    letter-spacing: normal
}
.jq-toast-single a {
    color: #eee;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    font-size: 12px
}
.jq-toast-single ul {
    margin: 0 0 0 15px;
    background: 0 0;
    padding: 0
}
.jq-toast-single ul li {
    list-style-type: disc !important;
    line-height: 17px;
    background: 0 0;
    margin: 0;
    padding: 0;
    letter-spacing: normal
}
.close-jq-toast-single {
    position: absolute;
    top: 3px;
    right: 7px;
    font-size: 14px;
    cursor: pointer
}
.jq-has-icon {
    padding: 10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-position: 10px
}
.jq-icon-info {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=);
    background-color: #31708f;
    color: #d9edf7;
    border-color: #fff
}
.jq-icon-warning {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=);
    background-color: #8a6d3b;
    color: #fcf8e3;
    border-color: #fff
}
.jq-icon-error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=);
    background-color: #a94442;
    color: #f2dede;
    border-color: #fff
}
.jq-icon-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==);
    color: #dff0d8;
    background-color: #3c763d;
    border-color: #fff
}
.ps-container {
    -ms-touch-action: none;
    overflow: hidden !important
}
.ps-container.ps-active-x>.ps-scrollbar-x-rail,
.ps-container.ps-active-y>.ps-scrollbar-y-rail {
    display: block
}
.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: .9
}
.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #999
}
.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: .9
}
.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #999
}
.ps-container>.ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 3px;
    height: 8px
}
.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x,
.ps-container>.ps-scrollbar-y-rail {
    position: absolute;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px
}
.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #aaa;
    border-radius: 0px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    bottom: 0;
    height: 8px
}
.ps-container>.ps-scrollbar-y-rail {
    display: none;
    border-radius: 0px;
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 5px;
    width: 8px;
    background-color: transparent!important;
}
#chatboxArea2,
#overlays,
#overlays2 {
    position: absolute;
    right: 0
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    position: absolute;
    background-color: #aaa;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    right: 0;
    width: 8px
}
.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail {
    background-color: #eee;
    opacity: .9
}
.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #999
}
.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail {
    background-color: #eee;
    opacity: .9
}
.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    background-color: #999
}
.ps-container:hover>.ps-scrollbar-x-rail,
.ps-container:hover>.ps-scrollbar-y-rail {
    opacity: .6
}
.ps-container:hover>.ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: .9
}
.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x {
    background-color: #999
}
.ps-container:hover>.ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: .9
}
.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    background-color: #999
}
#overlays {
    left: 0;
    top: 0;
    bottom: 0
}
#overlays2 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    display: block
}
.table-row-selected {
    background: #009688!important;
    color: #fff!important;
    transition: background ease-out .10s;
}
.table {
    margin: 0 0 40px;
    width: 100%;
    display: table;
    color: #999;
    font-family: Overpass;
}
@media screen and (max-width: 580px) {
    .table {
        display: block
    }
}
.row {
    display: table-row;
    background: transparent;
}
.row > .cell > input {
    height: 40px;
    padding: 10px;
}
.row:nth-of-type(odd) {
    background: transparent;
}
.row.header {
    font-weight: 900;
    color: #fff;
    background: #252525
}
.row.green {
    background: #27ae60
}
.row.blue {
    background: #2980b9
}
.close {
    color: #fff!important;
}
@media screen and (max-width: 580px) {
    .row {
        padding: 8px 0;
        display: block
    }
}
.cell {
    padding: 6px 12px;
    display: table-cell
}
@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 12px;
        display: block
    }
}
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto
}
.modal-content {
    border-radius: 0px!important;
    background: #212121!important;
    border: none!important;
    border-radius: 3px!important;
    box-shadow: none!important;
}
.modal-header {
    border-bottom: none!important;
    background-color: #212121!important;
    padding: 15px!important;
    padding-left: 13px!important;
    color: #999!important;
    font-weight: 600;
    font-size: 15px!important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: left;
    font-family: Overpass;
}
.modal-title {
    font-size: 20px;
}
.modal-footer {
    border-top: none!important;
    background-color: #212121!important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
}
#hotkeys_setting {
    width: 800px;
    margin: auto;
    margin-top: 10px;
}
#profile-main {
    margin-top: -3px;
    margin-bottom: 25px;
}
#profile-pic {
    position: relative
}
#preview-img-area {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 10px auto auto;
    margin-top: 0;
    background-color: #252525!important;
}
.preview-img {
    border-radius: 50%;
    border-color: #252525!important;
    width: 160px;
    height: 160px;
    transition: 0.5s;
    cursor: pointer;
    background-size: cover;
    background-position-x: left;
    background-color: #999999;
    animation: rainbow_background 20s infinite;
}
.preview-img2 {
    position: absolute;
    border-radius: 50%;
    border-color: #252525!important;
    transition: 0.5s;
    cursor: pointer;
    background-size: cover;
    width:80px;
    right: 0px;
    height: 160px;
    background-color: #2b2b2b;
    background-position-x: right;
    border-radius: 0px 80px 80px 0px;
    opacity: 0;
    background-color: #999999;
    animation: rainbow_background 20s infinite;
}
.preview-img:focus {
    outline: none;
}
.preview-img2.on{
    opacity: 1;
}
.preview-img2:focus {
    outline: none;
}
.arrow-left,
.arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    cursor: pointer;
    top: 40%
}
.arrow-left {
    border-right: 20px solid rgba(0,0,0,0.20);
    margin-left: 15px;
    margin-right: 5px;
    left: 0;
    margin-top: -2.5px;
}
.arrow-right {
    border-left: 20px solid rgba(0,0,0,0.20);
    margin-left: 5px;
    margin-right: 15px;
    right: 0;
    margin-top: -1px;
}
#div_lb {
    width: 200px;
    font-weight: bold;
    padding-bottom: 5px!important
}
#lb_detail {
    width: 200px;
    font-weight: 300;
    padding-bottom: 5px!important;
    text-align: left;
    padding-left: 5px;
    font-family: Overpass;
}
#div_lb,
#div_score {
    background-color: rgba(0, 0, 0, .5);
    cursor: default;
    -khtml-user-select: none;
    position: absolute
}
.nav2 {
    opacity: 0;
    transition: opacity 1s ease-in-out
}
#profile-pic:hover .nav2 {
    opacity: 1;
    transition: opacity .55s ease-in-out
}
#overlays {
    background-color: rgba(0, 0, 0, .5);
    z-index: 200;
    animation: 0.5s fadeIn;
}
#canvas {
    z-index: 2
}
#bgcanvasd,
#bgcanvasw {
    z-index: 1
}
#overlays2 {
    z-index: 111
}
.jq-toast-wrap {
    /*z-index: 999;*/
    z-index: 4;
    overflow: hidden
}
#div_lb {
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
    border-radius: 0px;
    padding: 3px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none
}
#div_lb > .header {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    overflow: hidden;
    /*text-transform: uppercase;*/
    margin-top: 1px;
    /*letter-spacing: 2px;*/
    /*font-family: Overpass;*/
    font-family: Overpass;
    font-weight: 300;
}
#lb_detail > div {
    float: left;
    width: 100%;
    font-size: 14px
}
#lb_detail .self {
    color: #FAA
}
#div_score {
    color: #fff;
    left: 50%;
    top: 21px;
    font-size: 20px;
    padding: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate(-50%, -50%);
    font-family: Overpass;
}
#team_name {
    border-radius: 5px;
    margin-top: 0
}
#team_code {
    border-radius: 5px;
    margin-top: 0
}
#nick {
    width: 100%
}
#teamNameContainer {
    width: 25%;
    float: left;
    margin-bottom: 10px
}
#teamCodeContainer {
    width: 25%;
    float: left;
    margin-bottom: 10px
}
#nickContainer {
    width: 50%;
    float: right;
    margin-bottom: 10px;
    position: relative;
    margin-top: 0
}
#skin_url {
    margin-bottom: 10px;
    float: left;
    width: 50%;
}
#skin_url2 {
    margin-bottom: 10px;
    float: right;
    width: 50%;
}
#tab_skin_url {
    margin-bottom: 10px;
    float: left;
    width: 50%;
}
#tab_skin_url2 {
    margin-bottom: 10px;
    float: right;
    width: 50%;
}
#settings {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 460px;
    margin-right: -10px;
    padding-right: 10px;
    margin-bottom: 6px;
    margin-top: -20px;
}
.picker{
    float: left;
    width: 250px;
    margin-left: 15px;
}
#pelletColorGroup {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important
}
label {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 10px
}
.nav {
    opacity: 1 !important;
    margin-bottom: 15px !important
}
.nav-tabs {
    border: none;
    background-color: #212121;
    margin-bottom: 15px!important;
    margin-top: -10px;
    width: 450px;
    margin-left: -10px;
    padding: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    justify-content: space-evenly;
}
.nav > li {
    height: 50px;
}
.nav > li > a {
    background-color: transparent!important;
    padding: 8px 10px;
    color: #fff!important;
    text-transform: uppercase;
    font-size: 11px!important;
    width: 70px;
    text-align: center;
    transition: all 0.5s;
    border: none!important;
    margin-right: 16px;
}
.nav > li > a:hover {
    color: #fff!important;
    transition: all 0.5s;
    background-color: transparent!important;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}
.nav > li > a:focus {
    background-color: transparent;
    border-color: transparent!important;
    text-shadow: none;
    transition: all 0.5s;
}
.nav-tabs > li > a 
    width:75px;
    border-radius: 3px!important;
    height: 50px!important;
}
.nav > li:nth-child(4) > a {
    margin-right: 0px;
}
.nav-tabs > li.active > a {
    background: rgba(0,0,0,0.20)!important;
    border-color: transparent;
    border-bottom: 1px;
    color: #fff!important;
    height: 50px;!important;
}
.nav-tabs > li.active > a > i {
    margin-top: 5px;
}
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: rgba(0,0,0,0.20);
    border-color: transparent;
    border-bottom: 1px;
    color: #fff!important;
    height: 50px;!important;
    text-shadow: none;
}
.nav-tabs > li > a:hover {
    color: #fff!important;
    background-color: #e6e6e6;
}
.nav-tabs > li > a:active,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background: #e6e6e6;
    border-color: #e6e6e6;
    border-bottom: 1px
}
.nav > li > a > i {
    margin-top: 5px;
}
.settingsRow {
    background: none !important;
    color: #999;
}
.container {
    padding: 0 !important;
    margin: 0 !important;
    margin-left: -10px!important;
}
.col-xs-6 {
    width: 500px !important
}
#opt_zoom_speed {
    margin-bottom: 15px
}
.zoomSpeed {
    width: 100%;
    text-align: right;
    margin: 0 auto !important;
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: -10px!important;
}
#opt_zoom_speed {
    margin-bottom: 25px!important;
}
.toggles {
    width: 100%;
    text-align: right;
    margin: 0 auto !important;
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    text-align: left;
    margin-top: 10px!important;
    margin-bottom: -25px!important;
}
#opt_nick_size, #opt_mass_size, #opt_locations_size, #hatOpacity {
    margin-bottom: 10px!important;
}
.table > .row {
    font-size: 12px !important
}
a {
    outline: none !important
}
#chooseServer {
    width: 100%;
    margin-bottom: 10px;
}
.btn-respawn {
    height: 40px;
    border-radius: 3px;
    color: #fff;
    background-color: #e51c23!important;
    border: none;
    width: 18%;
    float: right;
    margin-left: 5px;
    transition: all 0.4s;
}
.btn-respawn:hover {
    height: 40px;
    border-radius: 3px;
    color: #fff;
    background-color: #b9151b!important;
    border: none;
    width: 18%;
    float: right;
    margin-left: 5px;
    transition: all 0.4s;
}
.btn-respawn:focus {
    height: 40px;
    border-radius: 3px;
    color: #fff;
    background-color: #e51c23!important;
    border: none;
    width: 18%;
    float: right;
    margin-left: 5px;
    transition: all 0.4s;
}
.range-slider {
    margin: 60px 0 0 0%
}
.range-slider {
    width: 100%
}
.range-slider__range {
    height: 6px!important;
    outline: none!important;
    padding: 0!important;
    margin: 0!important;
    margin-top: 2px!important;
    border: none!important;
    border-radius: 0px!important;
    margin-bottom: 30px!important;
    background: #333!important;
    -webkit-appearance: none!important
}
.range-slider__range:focus {
    border: none!important;
    background: #333!important;
}
.range-slider__range::-webkit-slider-thumb {
    appearance: none!important;
    width: 20px!important;
    height: 20px!important;
    border-radius: 2px!important;
    cursor: pointer!important;
    background: #252525!important;
    -webkit-appearance: none!important;
    transition: all 0.5s;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #252525!important;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #252525!important;
    transform: scale(1.5);
    transition: all 0.5s;
}
.range-slider__range::-moz-range-thumb {
    width: 20px!important;
    height: 20px!important;
    border: 0!important;
    border-radius: 2px!important;
    background: #252525!important;
    cursor: pointer!important;
    transition: background .15s ease-in-out!important;
    -webkit-transition: background .15s ease-in-out!important;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #252525!important;
}
.range-slider__range:active::-moz-range-thumb {
    background: #252525!important;
}
input[type=checkbox] {
    float: left !important;
    margin-right: 6px !important;
    cursor: pointer !important;
}
input[type=checkbox] {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
    float: none !important;
    margin-right: 25px!important;
    margin-bottom: 20px!important;
    -webkit-appearance: none;
}
input[type=checkbox]:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 1px solid #777;
    width: 20px;
    height: 20px;
    -webkit-appareance: none;
}
input[type=checkbox]:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-color: #777;
    border-top-style: none;
    border-right-style: none;
    width: 20px;
    height: 10px;
}
input[type=checkbox]:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: transparent;
    -webkit-appareance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 9px;
    background: #212121;
    border-top-left-radius: 2px;
}
n2 {
    font-size: 12px;
    color: #999;
    font-family: Overpass;
}
#github {
    text-decoration: underline;
    color: rgba(255,255,255,0.8);
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
    border-radius: 0;
    outline: 1px solid #252525;
}
#theming {
    margin-right: -10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 460px;
    padding-right: 5px;
    margin-top: -20px;
    margin-bottom: -4px;
}
#hotkeys {
    font-size: 14px;
    margin-right: -10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 460px;
    padding-right: 5px;
    margin-top: -20px;
    margin-bottom: -4px;
}
#lb_color {
    margin-left: 2px;
    margin-top: -20px;
}
#lb_color > label {
    margin-top: 20px;
}
#globalLabel {
    margin-top: 20px;
}
#panel-opacity {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}
#opt_panel_opacity {
    margin-top: 6px!important;
    margin-bottom: 10px!important;
}
#huds-opacity {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}
#opt_huds_opacity {
    margin-top: 6px!important;
    margin-bottom: 10px!important;
}
#loading {
    position: absolute;
    background-color: #fff;
    width: 180px;
    height: 100px;
    margin-top: 85px;
    margin-left: -10px;
    opacity: 0.9;
    display: none;
}
#welcome-title {
    text-align: center;
    font-size: 35px;
    display: none;
}
#load-title {
    text-align: center;
    font-size: 35px;
    display: none;
}
#players {
    display: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 295px;
    height: 40px;
    text-align: left;
    margin-top: -15px;
    margin-left: 5px;
    padding-left: 10px;
}
#counts {
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
#radio-container {
    margin-bottom: 10px;
}
#radio {
    width: 100%;
}
.round {
    margin-top: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    text-decoration: none;
    transition: linear 0.3s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    margin: 2px;
    border-radius: 10px;
    border: 2px solid #fff;
}
.round:hover {
    opacity: 0.6;
    transform: scale(1.5);
    transition: linear 0.3s;
}
#icon {
    transition-property: all;
    transition-duration: .5s;
}
/* ROTATE BUTTON ICON */
.btn:hover > #icon {
    transform: rotate(360deg);
}
/***** SERVERS PANEL *****/
.servers-panel {
    display: block;
    overflow-y: scroll;
    width: 224px;
    padding: 3px;
    margin-left: -15px;
    margin-top: -15px;
    font-family: Overpass;
}
.UIServer:nth-last-child(1) {
	margin-bottom: 0px;
}
.server-label {
    font-size: 15px;
    margin-left: 10px;
    color: #999;
    cursor: pointer;
}
.reset_buttons {
    width:70px;
    cursor: pointer;

}
.material_inputs {
    width:150px;
}
.material_tip {
    font-size: 10px;
}
#number-label {
    font-size: 15px;
    margin-left: 20px;
    color: #999;
    float: right;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #333;
    line-height: 20px;
    text-align: center;
    margin-top: 9px;
    border-radius: 20px;
    cursor: pointer;
}
.server {
    cursor: pointer;
    margin-bottom: 10px;
    height: 40px;
    line-height: 39px;
    margin-left: 8px;
    transition: linear 0.25s;
    cursor: pointer;
}
.server:hover {
    background-color: #272727;
    transition: linear 0.25s;
}
.server:nth-last-child {
    margin-bottom: 0px!important;
}
#server-hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #272727;
    margin-left: 10px;
    margin-right: 4px;
}
#btn-lbcolor {
    width: 100%;
    height: 40px;
    margin-top: 7px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #1B5E20;
    transition: linear 0.25s;
}
#btn-lbcolor:hover {
    background-color: #1B5E20;
    transition: linear 0.25s;
}
#btn-lbcolor:focus {
    background-color: transparent;
    transition: linear 0.5s;
    outline: none;
}
#btn-lbcolor > i {
    font-size: 16px;
}

/***** PANEL PROFILES *****/
.left-side {
    display: block;
    width: 224px;
    margin-left: -228px;
    margin-bottom: -436px;
}
.profs {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.prof-label {
	font-size: 12px;
	margin-left: 20px;
	color: #999;
}
.profiles-panel {
    /*display: none;*/
    overflow-y: scroll;
    height: 460px;
    width: 212px;
    padding: 3px;
    margin-left: -3px;
    margin-top: -15px;
}
.UIProfiles:hover {
    transform: scale(0.9);
    transition: all 0.5s;
}
.UIProfiles {
    margin-bottom: 10px;
    transition: all 0.5s;
}
.UIProfiles:nth-last-child(1) {
	margin-bottom: 0px;
}
.UI-profiles {
    height: 530px;
}
.UI-profiles > .nav-tabs {
    margin-top: -15px;
    margin-left: -15px;
    width: 224px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.UI-profiles > .nav-tabs > li.active {
    width: 100%;
    text-shadow: none;
}
.UI-profiles > .nav-tabs > li.active:nth-child(2) {
    margin-left: 8px;
}
.UI-profiles > .nav-tabs > li.active:hover {
    text-shadow: none;
}
.UI-profiles > .nav-tabs > li.active > a {
    width: 100%;
    text-shadow: none;
    cursor: pointer;
}
.UI-profiles > .nav-tabs > li.active > a:hover {
    text-shadow: none;
}
audio::-webkit-media-controls-panel {
    background-color: transparent;
    color: #999;
}
audio::-webkit-media-controls-current-time-display {
    color: #999;
    font-family: Overpass;
    font-weight: 300;
}
.secondSettings {
    margin-left: 35px;
}
#right-container {
    height: 100%;
}
#right-container > .nav-tabs {
    margin-top: -15px;
    margin-left: -15px;
    width: 115.5%;
}
#right-container > .nav-tabs > li.active {
    width: 100%;
    cursor: pointer;
}
#right-container > .nav-tabs > li.active > a {
    width: 100%;
}
#localTime {
    position: absolute;
    right: 5px;
    display: inline-block;
    width: 200px;
    padding: 0 25px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, .5);
    font-weight: 300;
    font-family: Overpass;
    bottom: 210px;
    color: #999;
}
#toggleUI {
    position: absolute;
    bottom: 215px;
    right: 15px;
    opacity: 0.4;
    width: 20px;
    cursor: pointer!important;
    z-index: 1;
}
#lbcolor-title {
    font-size: 16px;
    font-family: Overpass;
    color: #999;
    letter-spacing: 1px;
}
@-webkit-keyframes pulsex {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(0,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
@keyframes pulsex {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(0,0,0, 0);
      box-shadow: 0 0 0 10px rgba(0,0,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
      box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
@keyframes colorchange {
    0% {
        background: #9605FF;
    }
    25% {
        background: #FF0F07;
    }
    50% {
        background: #FD03FF;
    }
    75% {
        background: #0386FF;
    }
    100% {
        background: #9605FF;
    }
}
@-webkit-keyframes colorchange {
    0% {
        background: #9605FF;
    }
    25% {
        background: #FF0F07;
    }
    50% {
        background: #FD03FF;
    }
    75% {
        background: #0386FF;
    }
    100% {
        background: #9605FF;
    }
}

/* LB TITLE COLORS */
.round {
    margin-top: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-decoration: none;
}

.round:hover {
    opacity: 0.6;
}

.red {
    background: red;
}

.mahogany {
    background: #CE4242;
}

.dulllime {
    background: #42CE42;
}

.peru {
    background: #CE8842;
}

.tuftsblue {
    background: #4288CE;
}

.raspberry {
    background: #D35695;
}

.white {
    background: #FFFFFF;
}

.aqua {
    background: #18FFFF;
}

.lawngreen {
    background: #76FF03;
}

.magenta {
    background: #E040FB;
}

.aztec {
    background: #893BFF;
}

.yellow {
    background: #FFFF00;
}

.general-box-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.5s;
}
#uiBody {
    position: absolute;
    margin-left: 80px;
    width: 90%;
    height: 100%;
    animation: 0.5s fadeIn;
}
#uiModal {
    padding: 20px;
}
.color-preview {
            width: 29px;
            height: 29px;
            background-color: #ffaa00;
            border: 6px solid #383838;
            border-radius: 0px 2px 2px 0px;
            box-sizing: border-box;
            cursor: pointer
        }
svg:not(:root) {
    overflow: hidden;
}